<ion-header>
  <app-expandable-header [scrollArea]="myContent">
    <ion-item>
      <ion-label><ion-icon name="search"></ion-icon></ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><ion-icon name="funnel"></ion-icon></ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </app-expandable-header>
  <ion-toolbar color="primary">
    <ion-title> Expandable Header </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" #myContent>
  <ion-list lines="none">
    <ion-item *ngFor="let item of items; let i = index">
      <ion-avatar slot="start">
        <img src="https://avatars.dicebear.com/api/bottts/{{i}}.svg" />
      </ion-avatar>
      <ion-label>Hello there</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
